html, body {
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}

body {
	/*overflow: auto; /*this and the above disables scrolling (overscrolling) on the login page*/
}

#content {
	display: block;
	overflow: auto;
	height: 100%;
	background: #000000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#224559, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#224559, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#224559, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#224559, #000000); /* Standard syntax */
}

.header-bar {
	width: 100%;
	height: 130px;
	background-color: #242e3a;
}

.main-container {
	width: 1000px;
	margin: 0 auto;
  	/*border: solid 1px red;*/
}

.main-header {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
  	/*border: solid 1px green;*/
}

#title {
	margin-top: 8px;
	width: 460px;
	height: 100%;
	float: left;
	background: url(/images/title.png);
	background-repeat: no-repeat;
}

.user-info {
	margin-right: 50px;
	min-width: 100px;
	max-width: 50%;
	height: 100%;
	float: right;
	
}

.user-info p {
	float: right;
	font-size: 80px;
	text-align: center;
	vertical-align: middle;
	color: #417292;
}

.widget-container {
	width: 300px;
	height: 425px;
	/*float: left;*/
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 40px;
	/*margin-right: 50px;*/
	/*border: solid 1px white;*/
	overflow: hidden;
	/*display: inline-block;*/
}

.widget-base {
	width: 100%;
	height: 125px;
	border-top: solid 10px #224559;
	background-color: #242e3a;
	font-size: 64px;
	text-align: center;
	vertical-align: middle;
	color: #417292;
}

.widget-data {
	height: 300px;
	width: 100%;
	background-color: #242e3a;
}

#portrait {
	position: absolute;
}

#portrait-container {
	height: 90px;
	width: 90px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}

.widget-column {
	width: 33.3333%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.mobile-name {
	display: none;
}

@media (max-width: 769px) {
  	.widget-column {
		width: 50%;
	}

	.main-container {
		width: 100%;
	}

	.header-bar {
		height: 360px;
	}

	.main-header {
		width: 100%;
	}

	#title {
		margin: 0 auto;
		margin-top: 8px;
		height: 33%;
		float: none;
	}

	.user-info {
		min-width: 0;
		max-width: 0;
		width: 100%;
		height: 67%;
		margin-right: 0;
	}

	#portrait-container {
		margin: 25px auto 0px;
		float: none;
		margin-top: none;
		margin-right: none;
	}

	.desktop-name {
		display: none;
	}

	.mobile-name {
		display: block;
	}

	.user-info p {
		float: none;
	}
}

@media (max-width: 415px) {
	.widget-column {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}

	#title {
		background: url(/images/title-mobile.png) no-repeat;
		width: 320px;
	}

	#portrait-container {
		margin: 5px auto 0px;
	}

	.header-bar {
		height: 300px;
	}
}